venv/
temp/
yolov8n-cls.pt
yolov8n.pt
yolov8l.pt
yolov8m.pt
yolov8x.pt
vecteezy_car-and-truck-traffic-on-the-highway-in-europe-poland_7957364.mp4
highway-traffic-cars-and-trucks-SBV-327496738-preview.mp4